AURORA_API_KEY=
PIMLICO_API_KEY=
SOURCE_PK=
SOURCE_ADD=
DEST1_PK=
DEST1_ADD=
DEST2_PK=
DEST2_ADD=
DEST3_PK=
DEST3_ADD=
MONAD_ASSET_ID=
PRIVATE_ASSET_ID=
ETHEREUM_ASSET_ID=
MONAD_USDC_CONTRACT=
ETHEREUM_USDC_CONTRACT=
CONFIDENTIAL_TOKEN_ID=
MONAD_RPC_URL=
ETHEREUM_RPC_URL=
NEAR_RPC_URL=
